{% extends 'base.html' %}

{% block content %}

    <h1 class='text-center text-success mt-4 p-2'>Crop Predicted Database</h1>
    <hr>

    <div class='container p-2'>

            <table class="table p-2 shadow rounded">
            <thead>
                <tr>
                <th class='table-success' scope="col">Temperature</th>
                <th class='table-success' scope="col">Humidity</th>
                <th class='table-success' scope="col">Precipitation</th>
                <th class='table-success' scope="col">Wind_Speed</th>
                <th class='table-success' scope="col">Solar_Radiation</th>
                <th class='table-success' scope="col">Nitrogen_Content</th>
                <th class='table-success' scope="col">Phosphorous_Content</th>
                <th class='table-success' scope="col">Potassium_Content</th>
                <th class='table-success' scope="col">Soil_pH</th>
                <th class='table-success' scope="col">Crop Type Prediction</th>
                <th class='table-danger' scope="col">Action</th>

                </tr>
            </thead>
            <tbody>

                {% if crop_records %}

                    {% for data in crop_records %}
                        <tr>

                            <th scope="row">{{ data.id }}</th>
                            <td>{{ data.temperature }}</td>
                            <td>{{ data.humidity  }}</td>
                            <td>{{ data.precipitation }}</td>
                            <td>{{ data.wind_speed }}</td>
                            <td>{{ data.solar_radiation  }}</td>
                            <td>{{ data.nitrogen_level }}</td>
                            <td>{{ data.phosphorus_level }}</td>
                            <td>{{ data.potassium_level }}</td>
                            <td>{{ data.ph_level }}</td>
                            <td>
                                <b>
                                    {% if data.classification %}
                                        <p class='text-success'> Predicted Crop Type: {{ data.classification }} </p>
                                    {% else %}
                                        <p class='text-info'> Crop type not predicted </p>
                                    {% endif %}
                                </b>
                            </td>

                            <td>

                               <a href="{% url 'delete' data.id %}" class="btn btn-danger m-1"> Delete </a>

                            </td>

                        </tr>

                    {% endfor %}

                {% else %}

                    <p>No Data in The Database so Far!</p>

                {% endif %}

            </tbody>
        </table>

    </div>

{% endblock  %}